<ion-header>
  <ion-navbar>
    <ion-title class="primary">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!hasConversion()">
      <p>You are not currently following any conversions.</p>
      <p>Add a new one by clicking the 'Add' tab.</p>
    </div>

    <div *ngIf="hasConversion()">
      <p>Your conversions:</p>
      <ion-list>
        <div *ngFor="let c of conversions" ng-item>
        
          <span>{{c.fromCurrency}}</span> - <span>{{c.toCurrency}}</span> - <span>{{c.rate}}</span>
        </div>
      </ion-list>
    </div>
</ion-content>
