<ion-header>
  <ion-navbar>
    <ion-title class="primary">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!hasConversion()">
      <p>You are not currently following any conversions.</p>
      <p>Add a new one by clicking the 'Add' tab.</p>
    </div>

    <div *ngIf="hasConversion()">
      <ion-list>
        <ion-list-header>
            Favorites
        </ion-list-header>

          <ion-item-sliding *ngFor="let c of conversions">
            <ion-item>
                <ion-card (click)="more(c)">
                    <ion-card-content>
                      <span class="span25">1 {{c.fromCurrency}}</span>
                      <ion-icon name="arrow-round-forward"></ion-icon>
                      <span class="span25">{{c.rate}} {{c.toCurrency}}</span>
                      <ion-icon name="{{c.trend ? 'trending-up' : 'trending-down'}}" color="{{c.trend ? 'secondary' : 'danger'}}" item-right></ion-icon>
                    </ion-card-content>
                    <div *ngIf="c.show" class="more">
                        <div>
                        <p>History</p>
                        <p>{{c.previous.date}}: {{c.previous.rate}}</p>
                        </div>
                    </div>
                </ion-card>
            </ion-item>
            <ion-item-options>
              <button ion-button (click)="delete(c)" color="danger" class="smallOptions"><ion-icon name="trash"></ion-icon></button>
            </ion-item-options>
          </ion-item-sliding>
      </ion-list>
    </div>
</ion-content>
